odd/tillich-briefe.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Tillich-Briefe</title>
        <author>Peter Andorfer</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are
              permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list
                of conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this
                list of conditions and the following disclaimer in the documentation and/or other
                materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any
              express or implied warranties, including, but not limited to, the implied warranties
              of merchantability and fitness for a particular purpose are disclaimed. In no event
              shall the copyright holder or contributors be liable for any direct, indirect,
              incidental, special, exemplary, or consequential damages (including, but not limited
              to, procurement of substitute goods or services; loss of use, data, or profits; or
              business interruption) however caused and on any theory of liability, whether in
              contract, strict liability, or tort (including negligence or otherwise) arising in any
              way out of the use of this software, even if advised of the possibility of such
              damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the <ref
              target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Created from scratch by James Cummings, but looking at previous tei_minimal and tei_bare
          exemplars by SPQR and LR.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.1.1" when="2024-10-05T08:52:15.171Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
    </encodingDesc>
  </teiHeader>
  <text>
    <body>
      <head>A Minimal TEI Customization</head>

      <p>This TEI ODD defines a TEI customization that is as minimal as possible and the schema
        generated from it will validate a document that is minimally valid against the TEI scheme.
        It includes only the ten required elements: <list rend="numbered">
          <item><gi>teiHeader</gi> from the header module to store required metadata</item>
          <item><gi>fileDesc</gi> from the header module to record information about this
            file</item>
          <item><gi>titleStmt</gi> from the header module to record information about the
            title</item>
          <item><gi>publicationStmt</gi> from the header module to detail how it is published</item>
          <item><gi>sourceDesc</gi> from the header module to record where it is from</item>
          <item><gi>p</gi> from the core module for use in the header and the body</item>
          <item><gi>title</gi> from the core module for use in the titleStmt</item>
          <item><gi>TEI</gi> from the textstructure module because what is a TEI file without
            that?</item>
          <item><gi>text</gi> from the textstructure module to hold some text</item>
          <item><gi>body</gi> from the textstructure module as a place to put that text</item>
        </list>
      </p>
      <schemaSpec ident="tillich-briefe" start="TEI" prefix="tei_" targetLang="en" docLang="en">

        <!-- required minimal header elements -->
        <moduleRef key="header"
          include="teiHeader fileDesc titleStmt publicationStmt sourceDesc idno encodingDesc licence availability editionStmt correspDesc correspAction correspContext projectDesc profileDesc editorialDecl revisionDesc language langUsage edition change"/>

        <!-- required core elements (p and title for use in titleStmt) -->
        <moduleRef key="core"
          include="p title head milestone lg list bibl listBibl expan l label item editor ptr foreign add sic choice abbr series imprint biblStruct monogr pubPlace del biblScope unclear note respStmt resp postCode street address publisher author hi lb name pb date rs"/>

        <!-- required textstructure elements (TEI, text, and body) -->
        <moduleRef key="textstructure"
          include="TEI text body dateline signed opener closer postscript div salute"/>

        <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
        <moduleRef key="tei"/>


        <moduleRef key="transcr" include="subst fw space supplied"/>
        <moduleRef key="figures" include="table figDesc figure row formula cell"/>
        <moduleRef key="msdescription"
          include="additional institution collection repository physDesc msIdentifier msDesc"/>
        <moduleRef key="namesdates" include="settlement country orgName persName placeName"/>
        
        <elementSpec ident="rs" mode="change">
          <attList>
            <attDef ident="type" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="person">
                  <desc>Person</desc>
                </valItem>
                <valItem ident="place">
                  <desc>Place</desc>
                </valItem>
                <valItem ident="org">
                  <desc>Organisation</desc>
                </valItem>
                <valItem ident="bible">
                  <desc>Bibel</desc>
                </valItem>
                <valItem ident="work">
                  <desc>Work</desc>
                </valItem>
                <valItem ident="letter">
                  <desc>Brief</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <constraintSpec ident="check_note_seg" scheme="schematron">
          <constraint xmlns:s="http://purl.oclc.org/dsdl/schematron">
            <s:rule context="tei:rs[@type='letter']">
              <s:assert test="starts-with(@ref, 'L')">
                The @ref attribute must start with 'L'
              </s:assert>
            </s:rule>
            
            <s:rule context="tei:rs[@type='bible']">
              <s:assert test="matches(@ref, '^[A-Z]|\d')">
                The @ref attribute for rs type @bible must start with a captial letter or with a number
              </s:assert>
            </s:rule>
            
            <s:rule context="tei:rs[@type='person|place|org|bibl']">
              <s:assert test="starts-with(@ref, '#tillich_')">
                The @ref attribute must start with '#tillich_'
              </s:assert>
              <s:assert test="matches(@ref, '\d$')">
                The @ref attribute must end with a number
              </s:assert>
            </s:rule>
            
          </constraint>
        </constraintSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
